body {
   display: flex;
   justify-content: flex-start;
}

/* ------------------------------- main -------------------------------------------- */

.container-processos {
   display: flex;
   flex-direction: column;
   width: 60%;
   padding: 20px;
   justify-content: left;
}

#cacau::before {
   content: url('../assets/icons_novos/cacau.svg');
   margin-right: 15px;
}

#cafeVerde::before {
   content: url('../assets/icons_novos/café verde.svg');
   margin-right: 15px;
}

/* -----adicione icone buriti na pas img-------- */

#buriti::before {
   content: url('../assets/icons_novos/buriti.svg');
   margin-right: 15px;

}

#açai::before {
   content: url('../assets/icons_novos/açaí.svg');
   margin-right: 15px;
}

#citronela::before {
   content: url('../assets/icons_novos/citronela.svg');
   margin-right: 15px;
}

#breu::before {
   content: url('../assets/icons_novos/breu.svg');
   margin-right: 15px;
}

#pataua::before {
   content: url('../assets/icons_novos/pataua.svg');
   margin-right: 15px;
}

#castanha::before {
   content: url('../assets/icons_novos/castanha.svg');
   margin-right: 15px;
}

#copaiba::before{
   content: url('../assets/icons_novos/copaíba.svg');
   margin-right: 15px;
}



/* -----mudanças no css-------- */
.escolhe-processos {
   display: flex;
   align-items: center;
   justify-content: left;
   border: none;
   margin: 5px 20px;
   background: #FFFFFF;
   border: 3px solid #EDF6E0;
   border-radius: 16px;
   width: 50vw;
   margin-left: 200px;
   padding: 20px;
   font-family: 'Basic Sans';
   font-style: normal;
   font-weight: 800;
   font-size: 19px;
   line-height: 16px;
   color: #151313;
}

.escolhe-processos:hover {
   border: 3px solid #ffa400;
}

.escolhe-processos:hover>* {
   background-color: #ffa400;
   color: #FFFFFF;
}


#text-processos {
   font-family: 'Bernhard Gothic URW';
   font-style: normal;
   font-weight: 500;
   font-size: 32px;
   line-height: 40px;
   margin: 20px 40px;
   margin-left: 300px;
}

/* -----mudanças no css-------- */


.principal {
   display: grid;
   grid-template-columns: 1fr auto;
   margin-left: 100px;
   width: 60vw;
}

.container {
   display: flex;
   flex-direction: column;
   width: 100%;
   box-sizing: border-box;
   justify-content: center;
   align-items: center;
}

.container2 {
   grid-row-start: 2;
   display: grid;
   grid-template-columns: 1fr;
   gap: 18px;
}

.coleta-item {
   margin: 10px;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   gap: 15px;
   box-sizing: border-box;
   max-height: 200px;
   border-radius: 20px;
   width: 100%;
   align-items: center;
   background-color: #f4f7f1;
}

.coleta-item-inativo{
   background-color: #faf0af;
   transition: 0.5s;
}

.listaColetas{
   margin: 10px 35px;
   border-radius: 25px;
   max-height: 20vh;
}

.listaColetas span{
   text-align: center;
}

.text-item{
   font-family: 'Basic Sans';
   font-weight: 400;
   font-size: 17px;
   text-align: center;
}

.item-id::before{
   content: url('../assets/img/status=uncheck.svg');
}

.item-id-check::before{
   content: url('../assets/img/status=check.svg');
}

#id {
   grid-column-start: 1;
   grid-column-end: 1;
   grid-row-start: 1;
   grid-row-end: 3;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 15px;
}

#data {
   grid-column-start: 5;
   grid-column-end: 5;
   grid-row-start: 1;
   grid-row-end: 2;
}

#materia-prima::before{
   content: url('../assets/icons_inatu/icon=droplet-solid\ 1.svg');
   justify-items: center;
}

#materia-prima {
   grid-column-start: 2;
   grid-column-end: 2;
   grid-row-start: 1;
   grid-row-end: 3;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 15px;
}

#extrativista {
   grid-column-start: 4;
   grid-column-end: 4;
   grid-row-start: 1;
   grid-row-end: 1;
}

#local {
   grid-column-start: 4;
   grid-column-end: 4;
   grid-row-start: 2;
   grid-row-end: 2;
}

#quantidade {
   grid-column-start: 3;
   grid-column-end: 3;
   grid-row-start: 1;
   grid-row-end: 3;
}

#preco {
   grid-column-start: 5;
   grid-column-end: 5;
   grid-row-start: 2;
   grid-row-end: 2;
}


/* ------------------------------- header -------------------------------------------- */


header {
   display: flex;
   flex-direction: column;
   max-width: 250px;
   align-items: center;
   justify-content: space-between;
   box-sizing: border-box;
   background: #FFFFFF;
   box-shadow: 0px 3px 18px rgba(0, 0, 0, 0.07);
   backdrop-filter: blur(7.5px);
   border-radius: 0px 20px 20px 0px;
   padding: 40px;
   width: 300px;

   background: #FFFFFF;

   box-shadow: 0px 3px 18px rgba(0, 0, 0, 0.07);
   backdrop-filter: blur(7.5px);

   border-radius: 0px 20px 20px 0px;
}

.logo {
   width: 100%;
   height: 60px;
}

a {
   left: 10px;
   position: relative;
   font-family: 'Basic Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   margin-top: 35px;

   align-items: center;

   color: #151313;

}

a:hover {

   color: #653024;
}

.icon {
   position: relative;
   top: 10px;
   right: 10px;
}


.navbar {
   display: flex;
   flex-direction: column;
   max-width: 144px;
   margin-top: 20px;
   box-sizing: border-box;
}

/* ------------------------------- header fim-------------------------------------------- */

#encerra-lote{
   grid-column-start: 1;
   grid-column-end: 4;
   grid-row-start: 1;
   grid-row-end: 2;
   position: relative;
   justify-self: center;
   width: 30%;
   height: 30%;
   max-height: 30%;
   border-radius: 25px;
   margin: 10px 5px;
   border:solid 3px #ffa400;
   background-color: white;
   min-width: 100px;
   margin: 15px auto;
}
